/* Layout of background (including image), also vh and vw are respectively about the viewport height and width and are based on a percentage scale (100 = 100%) */
body{
    background-image: url("img/eye.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-color: purple;
    /* This fixes the background image to your specific computer aspect ratio, so you don't have any scroll bars on the side */
    background-attachment: fixed;
}


/* Define textbox traits of h1 [container] */
.container {
    text-align: center;
    font-size: 22pt;
    color: black;
    margin-top: 5em;
    font-weight: bold;
}


/* Define textbox traits of h2 */
h2 {
    margin-top: 5em;
}

/* Button traits */
.button {
    background-color: #0e067c;
    border: 5px;
    border-color:white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Traits for when you hover over the button */
.button:hover {
    background-color:#473dd1;
    transition:0.5s;
}

/* Traits for when you click the button */
.button:active {
    background-color: #aaa8c9
}